@import '../../styles/vars';

.toolbar {
  background-color: $color-primary;
}

.menuButton {
  margin-right: 24px;
}

.title {
  flex-grow: 1
}

.headerHeadlineIcon {
  color: lightgrey;
  padding: 5px;
  border-radius: 5px;

  &:hover {
    color: $color-lightgreen;
  }
}
