@import './normalize';
@import './vars';

body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  color: $color-dark;
  -webkit-font-smoothing: subpixel-antialiased;
}

footer {
  bottom: 0;
  padding: 10px 24px;
  background-color: $color-primary;
  color: $color-white;
  z-index: 1000;
}

a {
  color: $color-primary;
  text-decoration: none;
  margin: 0;

  &:hover {
    text-decoration: underline;
  }

  &:focus {
    outline-offset: 2px;
  }
}

[role="tooltip"] {
  div {
    padding: 5px;
    font-size: 0.8rem;
    background-color: $color-dark;
  }
}

[aria-label="breadcrumb"] {
  padding-bottom: 20px;

  .breadcrumbLink {
    display: flex;
  }

  .breadcrumbIcon {
    margin-right: 5px;
  }
}

.dropzone {

}

code {
  font-weight: bold;
}
