$color-dark: #111;
$color-background: #f5f5f5;
$color-white: #fff;
$color-primary: #1976d2;
$color-green: #8BEACC;
$color-lightgreen: #CFF0A2;
$color-orange: #FFC88E;
$color-violet: #304ac6;
$color-red: #FF4E4E;
$color-lightred: #FF9493;
